<div>
  <md-button class="md-fab md-button md-accent md-default-theme mp-fab-bottom-right"
             aria-label="Create new ingredient"
             ui-sref="createIngredient">
    <md-icon>&#xE150;</md-icon>
    <md-tooltip>Create new</md-tooltip>
  </md-button>

  <md-content class="mp-content md-whiteframe-z1">
    <md-grid-list ng-if="!ctrl.items" class="mp-tiles"
                  md-cols-gt-sm="6" md-cols="1"
                  md-row-height="1:1"
                  md-gutter="8px" md-gutter-sm="10px">
      <md-grid-tile ng-repeat="group in ctrl.groups"
                    md-rowspan-gt-sm="{{::group.tile.row}}"
                    md-colspan-gt-sm="{{::group.tile.col}}"
                    md-colspan-sm="1"
                    md-rowspan-sm="1"
                    md-ink-ripple
                    ui-sref="ingredientsList({group: group.title})">
        <img ng-src="{{::group.background}}" alt="{{::group.title}}"/>
        <md-grid-tile-footer><h3>{{::group.title}}</h3></md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>

    <div class="mp-centered" ng-if="ctrl.items && !ctrl.items.length">
      No ingredients found.
    </div>

    <md-list ng-if="ctrl.items" class="mp-ingredients">
      <mp-ingredient-item ingredient="ingredient"
                          last="$last"
                          ng-repeat="ingredient in ctrl.items track by ingredient.id">
      </mp-ingredient-item>
    </md-list>
  </md-content>
</div>
