.mp-ingredient-item-name {
  .mp-ingredient-item-description {
    //display: block;
    color: rgba(0,0,0,0.54);
    font-style: italic;
    margin: 0;
    padding: 0;
  }
}

.md-ingredient-edit-nutrients-header {
  padding: 0 0 0 16px;
  margin: 0 0 4px 0;
}
.mp-ingredients {
  .nutrient {
    .label {
      display: block;
      float: left;
    }
    .value {
      display: block;
      float: right;
      margin-left: 5px;
    }
  }
}

