.mp-ingredient-groups {
  margin: 10px 10px 0 10px;

  md-grid-tile {
    outline: none;
    cursor: pointer;
    cursor: hand;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &:active:focus,
    &.active:focus {
      -moz-transform: scale(1.01);
      -webkit-transform: scale(1.01);
      transform: scale(1.01);
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.6);
    height: 36px;
  }

  .meat {
    background-image: url('../images/ingredient-groups/meat.jpg');
  }

  .poultry {
    background-image: url('../images/ingredient-groups/poultry.jpg');
  }

  .fish {
    background-image: url('../images/ingredient-groups/fish.jpg');
  }

  .legumes {
    background-image: url('../images/ingredient-groups/legumes.jpg');
  }

  .nuts {
    background-image: url('../images/ingredient-groups/nuts.jpg');
  }

  .dairy {
    background-image: url('../images/ingredient-groups/dairy.jpg');
  }

  .vegetables {
    background-image: url('../images/ingredient-groups/vegetables.jpg');
  }

  .grains {
    background-image: url('../images/ingredient-groups/grains.jpg');
  }

  .fruits {
    background-image: url('../images/ingredient-groups/fruits.jpg');
  }

  .beverages {
    background-image: url('../images/ingredient-groups/beverages.jpg');
  }

  .sweets {
    background-image: url('../images/ingredient-groups/sweets.jpg');
  }

  .other {
    background-image: url('../images/ingredient-groups/other.jpg');
  }
}
