@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .mp-content {
    margin: 60px 0 20px 0;
    min-width: 100%;
  }

  .mp-footer {
    min-width: 100%;
    margin: 0 0 20px 0;
  }

  mp-nutrition-label {
    width: 100%;
  }

  .mp-login-box {
    padding: 0px 25px 0px 10px;
  }

  .mp-popup {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
  }

  .meal-selector {
    .mp-meal-selector-content {
      min-width: 100%;
    }
  }

  .total-macros {
    width: 100%;
  }

  .mp-recipe-info {
    width: 100%;
    max-width: 100%;
    .mp-image-view img {
      width: 100%;
    }
  }
}
