.mp-tiles {
  margin: 10px 10px 0 10px;

  md-grid-tile {
    outline: none;
    cursor: pointer;
    cursor: hand;
    -moz-transition: box-shadow 0.5s ease-in-out;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &:active:focus,
    &.active:focus {
      @include border-shadow-deep;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.6);
    height: 36px;
  }
}
