@import 'mixins';
@import 'animations';
@import 'energy-chart';
@import 'ingredients';
@import 'navbar';
@import 'nutrition-label';
@import 'meal-selector';
@import 'recipes';
@import 'tiles';
@import 'users';
@import 'planner';
@import 'images';

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.ui-content, .mp-footer, .mp-container, body, html {
  background: #ECEFF1;
}

.mp-container {
  width: 100%;
  height: 100%;
}

.mp-footer {
  background: #ECEFF1;
  margin: 10px auto 25px;
  max-width: 1000px;
  min-width: 840px;
  a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
  }
}

md-content {
  background: rgb(255, 255, 255);
}

.mp-content {
  max-width: 1000px;
  min-width: 840px;
  margin: 90px auto 20px;
  background: #ffffff;
}

.mp-action-button {
  min-width: 38px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.mp-no-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.mp-no-top-margin {
  margin-top: 0;
}

.mp-fab-bottom-right {
  top: auto;
  right: 25px;
  bottom: 25px;
  left: auto;
  position: fixed;
}

.mp-spaced-left {
  padding-left: 14px;
}

.mp-spaced-both {
  padding: 0 14px 0 14px;
}

.mp-centered {
  padding: 14px 0 14px 0;
  text-align: center;
}

md-toast.md-error-toast-theme .md-toast-content {
  background-color: rgba(229, 57, 53, 0.95);
}

.mp-lowercase {
  text-transform: lowercase;
}

md-list {
  padding: 0;
}

md-list-item.md-3-line {
  align-items: center;
}

.draggable {
  .handle {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    margin-right: 12px;
  }
}

@import 'responsive';
