<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Meal Planner</title>
  <meta name="description" content="Plan your meals and always get your macros!">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="mealPlanner">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div layout="column">
  <md-whiteframe class="mp-container md-whiteframe-z1" ng-controller="NavigationController as navigation">
    <md-content>
      <md-toolbar class="md-primary md-hue-2">
        <h2 class="md-toolbar-tools" layout="row" layout-align="space-between">
          <span>
            <a href="#" ng-click="go('planner', 'slide-right')">
              <img ng-src="images/logo.png" />
            </a>
          </span>
          <md-button>sign in</md-button>
        </h2>
      </md-toolbar>
    </md-content>

    <div class="mp-tabs">
      <md-tabs md-selected="navigation.selectedIndex" class="md-primary">
        <md-tab ng-repeat="tab in navigation.tabs"
                ng-disabled="tab.disabled"
                md-on-select="go(tab.state)"
                label="{{tab.label}}">
        </md-tab>
      </md-tabs>
      <div class="mp-animate-container" id="content-view">
        <div ui-view class="mp-tab-content mp-animate {{ navigation.animationClass }}">
        </div>
      </div>
    </div>
  </md-whiteframe>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="modules/navigation/controllers/navigation.js"></script>
<!-- Planner module -->
<script src="modules/planner/routes.js"></script>
<script src="modules/planner/controllers/main.js"></script>
<!-- Ingredients module -->
<script src="modules/ingredients/routes.js"></script>
<script src="modules/ingredients/services/ingredient.js"></script>
<script src="modules/ingredients/controllers/list.js"></script>
<script src="modules/ingredients/controllers/create.js"></script>
<!-- Recipes module -->
<script src="modules/recipes/routes.js"></script>
<script src="modules/recipes/services/recipe.js"></script>
<script src="modules/recipes/controllers/list.js"></script>
<script src="modules/recipes/controllers/create.js"></script>

<!-- endbuild -->
</body>
</html>
