<form name="recipeForm" ng-submit="ctrl.saveRecipe()">
  <md-toolbar class="md-hue-2 md-whiteframe-z2 mp-fixed-top">
    <div class="md-toolbar-tools">
      <md-button ui-sref="recipesGroups" class="md-icon-button" aria-label="Close">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <h2>
        <span ng-if="::ctrl.isEdit == true">Edit Recipe &laquo;{{::ctrl.recipe.name}}&raquo;</span>
        <span ng-if="::ctrl.isEdit == false">Create New Recipe</span>
      </h2>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-show="ctrl.isLoading"></md-progress-linear>
  </md-toolbar>

  <div class="mp-content md-whiteframe-z1 mp-recipe-edit-form">
    <md-content class="md-padding">
      <div layout="column">

        <div layout="row">
          <md-input-container flex="20">
            <label>Dish Type</label>
            <md-select ng-model="ctrl.recipe.dish_type" placeholder="Please, select">
              <md-option value="{{::dishType.title}}" ng-repeat="dishType in ctrl.dishTypes | orderBy:'title'">
                {{::dishType.title}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex="80">
            <label>Name</label>
            <input type="text" ng-model="ctrl.recipe.name" required>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex="20">
            <label>Yields servings</label>
            <md-select ng-model="ctrl.recipe.servings" placeholder="Please, select">
              <md-option ng-value="servings" ng-repeat="servings in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                {{::servings}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex="20">
            <label>Time to cook (minutes)</label>
            <input type="text" ng-model="ctrl.recipe.time_to_cook" required>
          </md-input-container>
        </div>

        <div>
          <fieldset class="standard">
            <legend>Cuisine</legend>
            <div layout="row" layout-wrap>
              <div ng-repeat="cuisine in ctrl.cuisines | orderBy:'title'" flex="25">
                <md-checkbox ng-model="ctrl.recipe.cuisine[cuisine.title]"
                             aria-label="{{::cuisine.title}} Cuisine">
                  {{::cuisine.title}}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </div>

        <p>
          <fieldset class="standard">
            <legend>Key Ingredient</legend>
            <div layout="row" layout-wrap>
              <div ng-repeat="keyIngredient in ctrl.keyIngredients | orderBy:'title'" flex="25">
                <md-checkbox ng-model="ctrl.recipe.key_ingredient[keyIngredient.title]"
                             aria-label="Key Ingredient: {{::keyIngredient.title}}">
                  {{::keyIngredient.title}}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </p>

        <div>
          <fieldset class="standard">
            <legend>Diet</legend>
            <div layout="row" layout-wrap>
              <div ng-repeat="diet in ctrl.diets | orderBy:'title'" flex="25">
                <md-checkbox ng-model="ctrl.recipe.diet[diet.title]"
                             aria-label="{{::diet.title}} Diet">
                  {{::diet.title}}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <h4>Ingredients</h4>
      <mp-recipe-ingredient-picker recipe="ctrl.recipe"></mp-recipe-ingredient-picker>
      <mp-recipe-ingredient-list recipe="ctrl.recipe"></mp-recipe-ingredient-list>

      <h4>Cooking steps</h4>
      <mp-recipe-steps recipe="ctrl.recipe"></mp-recipe-steps>

      <p>
        <div layout="row" layout-align="space-between">
          <md-button type="button" class="md-button-wide" ng-hide="ctrl.isLoading"
                     ui-sref="recipesGroups">
            go back
          </md-button>
          <md-button class="md-raised md-primary md-button-wide" ng-hide="ctrl.isLoading">
            save
          </md-button>
        </div>
      </p>
    </md-content>
  </div>
</form>
