<div ng-controller="RecipesListController as recipes">
  <mp-navbar mp-title="Recipes"></mp-navbar>

  <md-content class="mp-content">
    <md-button class="md-fab md-button md-accent md-default-theme md-fab-top-right"
               aria-label="Create new"
               ui-sref="createRecipe">
      <md-tooltip>Create new</md-tooltip>
      <md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_create_24px.svg"
               class="fab-icon">
    </md-button>

    <div class="mp-centered" ng-show="recipes.isError">
      Could not load recipes list. Please, check network connection.
    </div>

    <md-list ng-hide="recipes.isLoading">
      <md-list-item class="md-3-line"
                    ng-repeat="recipe in recipes.items"
                    ng-click="go('viewRecipe', {recipeId: recipe.id})">
        <img ng-src="images/ingredient-icon.png" class="md-avatar">

        <div class="md-list-item-text" layout="row" layout-align="space-between">
          <div>
            <h3>{{recipe.name}}</h3>

            <p>
              Time to cook: {{recipe.timeToCook}} min
              Fat: {{recipe.fat}}g
              Protein: {{recipe.protein}}g
              Carbohydrate: {{recipe.carbohydrate}}g
            </p>
          </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
