<div>
  <md-button class="md-fab md-button md-accent md-default-theme mp-fab-bottom-right"
             aria-label="Edit recipe"
             ng-if="::ctrl.recipe.can_edit"
             ui-sref="editRecipe({recipeId:ctrl.recipe.id})">
    <md-icon>&#xE150;</md-icon>
    <md-tooltip>Edit Recipe</md-tooltip>
  </md-button>

  <md-content class="mp-content md-whiteframe-z1">
    <md-tabs md-selected="selectedIndex"
             md-border-bottom
             md-autoselect
             md-dynamic-height
             md-no-pagination
             md-stretch-tabs="always">
      <md-tab label="Info">
        <md-content layout="column"
                    layout-align="start"
                    layout-gt-sm="row"
                    layout-align-gt-sm="start start">
          <div class="mp-image-view">
            <img ng-src="{{::ctrl.recipe.imageUrl}}"/>
            <md-divider hide-gt-sm></md-divider>
          </div>

          <md-list class="mp-cooking-steps" flex>
            <md-list-item class="md-2-line"
                          ng-repeat="step in ctrl.recipe.steps"
                          md-no-ink>
              <div class="md-list-item-text" layout="row" layout-align="space-between">
                <p>
                  {{::step}}
                </p>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>

      <md-tab label="Ingredients">
        <md-list>
          <md-list-item class="md-3-line"
                        ng-repeat="ingredient in ctrl.recipe.ingredients"
                        md-no-ink>
            <img ng-src="{{::ingredient.imageUrl}}" class="mp-image-icon">

            <div class="md-list-item-text" layout="row" layout-align="space-between">
              <div>
                <h3>{{::ingredient.name}}</h3>

                <p>
                  {{::ingredient.selectedAmount}} {{::ingredient.measures[ingredient.selectedMeasure].label}}
                </p>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-tab>

      <md-tab label="Nutrition">
        <md-content class="md-padding"
                    layout="column"
                    layout-align="center center"
                    layout-gt-sm="row"
                    layout-align-gt-sm="space-between start">
          <mp-nutrition-label servings="{{::ctrl.recipe.servings}}"
                              nutrients="ctrl.recipe.nutrients"></mp-nutrition-label>
          <mp-energy-chart nutrients="ctrl.recipe.nutrients"></mp-energy-chart>
        </md-content>
      </md-tab>
    </md-tabs>

  </md-content>
</div>
