<md-toolbar class="md-hue-3">
  <h2 class="md-toolbar-tools">
    <span>Create New Ingredient</span>
  </h2>
</md-toolbar>
<form name="ingredientForm" ng-controller="IngredientsCreateController as ctrl" ng-submit="ctrl.createIngredient()">
  <md-content class="md-padding">
    <div layout="row" layout-align="space-between">
      <md-select required flex="20" ng-model="ctrl.ingredient.group" placeholder="Food Group">
        <md-option ng-value="group" ng-repeat="group in ctrl.foodGroups">
          {{group}}
        </md-option>
      </md-select>
      <md-input-container flex="80">
        <label>Name</label>
        <input ng-model="ctrl.ingredient.name" required placeholder="Ingredient name, e.g. Chicken breast">
      </md-input-container>
    </div>
  </md-content>

  <md-content class="md-padding mp-ingredient-measure" layout="column"
              ng-repeat="(measureIndex, measure) in ctrl.ingredient.nutrients.energy.measures">
    <p class="md-subhead">
      <md-button type="button" ng-click="ctrl.removeMeasure(measureIndex)"
                 ng-hide="ctrl.ingredient.nutrients.energy.measures.length == 1"
                 md-no-ink class="mp-action-button"
                 aria-label="Remove Measure">
        <md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_remove_circle_24px.svg">
      </md-button>
      Measure {{measure.qty}} {{measure.label}}
      <span ng-show="measure.eqv > 0 && measure.label != 'g'">
        (≈ {{measure.eqv}} gram)
      </span>
    </p>
    <div layout="row" layout-wrap>
      <div flex="20" layout="row">
        <md-input-container flex="25">
          <label>Qty</label>
          <input type="float" ng-model="measure.qty" required>
        </md-input-container>
        <md-input-container flex="25">
          <label>Label</label>
          <input type="text" ng-model="measure.label" required>
        </md-input-container>
        <md-input-container ng-show="measure.label != 'g'" flex="50">
          <label>Equivalent</label>
          <input type="float" ng-model="measure.eqv" required>
        </md-input-container>
      </div>
      <md-input-container flex="20" ng-repeat="(nutrientName, nutrient) in ctrl.ingredient.nutrients">
        <label>{{nutrient.label}} ({{nutrient.unit}})</label>
        <input type="float" ng-model="ctrl.ingredient.nutrients[nutrientName].measures[measureIndex].value" required>
      </md-input-container>
    </div>
  </md-content>

  <md-content class="md-padding" layout="row" layout-align="space-between">
    <md-button type="button" class="md-raised md-primary md-hue-3" ng-click="ctrl.addMeasure()">
      Add Measure
    </md-button>
    <div ng-show="ctrl.isNutrientSelectorShown">
      <md-select class="mp-no-margins" flex ng-model="selectedNutrient" placeholder="Select a nutrient">
        <md-optgroup label="Proximates">
          <md-option ng-value="nutrient.code"
                     ng-repeat="nutrient in ctrl.availableNutrients | filter: {group: 'Proximates'}">
            {{nutrient.label}}
          </md-option>
        </md-optgroup>
        <md-optgroup label="Lipids">
          <md-option ng-value="nutrient.code"
                     ng-repeat="nutrient in ctrl.availableNutrients | filter: {group: 'Lipids'}">
            {{nutrient.label}}
          </md-option>
        </md-optgroup>
        <md-optgroup label="Minerals">
          <md-option ng-value="nutrient.code"
                     ng-repeat="nutrient in ctrl.availableNutrients | filter: {group: 'Minerals'}">
            {{nutrient.label}}
          </md-option>
        </md-optgroup>
        <md-optgroup label="Vitamins">
          <md-option ng-value="nutrient.code"
                     ng-repeat="nutrient in ctrl.availableNutrients | filter: {group: 'Vitamins'}">
            {{nutrient.label}}
          </md-option>
        </md-optgroup>
        <md-optgroup label="Other">
          <md-option ng-value="nutrient.code"
                     ng-repeat="nutrient in ctrl.availableNutrients | filter: {group: 'Other'}">
            {{nutrient.label}}
          </md-option>
        </md-optgroup>
      </md-select>
      <md-button type="button"
                 class="md-raised md-primary"
                 ng-click="ctrl.addNutrient(selectedNutrient);ctrl.isNutrientSelectorShown=false;selectedNutrient=null;">
        Add
      </md-button>
    </div>
    <md-button type="button"
               class="md-raised md-primary md-hue-3"
               ng-hide="ctrl.isNutrientSelectorShown"
               ng-click="ctrl.isNutrientSelectorShown=true">
      Add Nutrient
    </md-button>
  </md-content>

  <md-content class="md-padding" layout="row" layout-align="space-between">
    <md-progress-linear md-mode="indeterminate" ng-show="ctrl.isLoading"></md-progress-linear>
    <md-button type="button" class="md-button-wide" ng-hide="ctrl.isLoading"
               ng-click="go('ingredientsList', 'slide-up')">
      go back
    </md-button>
    <md-button class="md-raised md-primary md-button-wide" ng-hide="ctrl.isLoading">
      create
    </md-button>
  </md-content>
</form>
