<md-list-item class="md-3-line" ng-click="viewIngredient(ingredient.id)">
  <img src="{{::ingredient.imageUrl}}" class="mp-image-icon" title="{{::ingredient.group}}">

  <div class="md-list-item-text">
    <div>
      <div class="mp-ingredient-item-name">
        {{::ingredient.name}}
        <span class="mp-ingredient-item-description">
          {{::ingredient.description}}
        </span>
      </div>

      <p class="mp-ingredient-item-nutrients" layout="row" layout-align="space-between">
        <mp-ingredient-nutrient ingredient="ingredient" code="energy"></mp-ingredient-nutrient>
        <mp-ingredient-nutrient ingredient="ingredient" code="fat"></mp-ingredient-nutrient>
        <mp-ingredient-nutrient ingredient="ingredient" code="protein"></mp-ingredient-nutrient>
        <mp-ingredient-nutrient ingredient="ingredient" code="carbohydrate"></mp-ingredient-nutrient>
      </p>
    </div>
  </div>
  <md-divider ng-if="!last"></md-divider>
</md-list-item>
