<form name="ingredientForm" ng-submit="ctrl.saveIngredient()">
  <md-toolbar class="md-hue-2 md-whiteframe-z2 mp-fixed-top">
    <div class="md-toolbar-tools">
      <md-button ui-sref="ingredientsList"
                 class="md-icon-button" aria-label="Close">
        <md-icon>&#xE5C4;</md-icon>
      </md-button>
      <h2>
        <span ng-if="::ctrl.isEdit == true">Edit Ingredient &laquo;{{::ctrl.ingredient.name}}&raquo;</span>
        <span ng-if="::ctrl.isEdit == false">Create New Ingredient</span>
      </h2>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-show="ctrl.isLoading"></md-progress-linear>
  </md-toolbar>

  <div class="mp-content md-whiteframe-z1">
    <md-content class="md-padding">
      <div layout="row">
        <md-input-container flex="20">
          <label>Food group</label>
          <md-select required ng-model="ctrl.ingredient.group" aria-label="Food group">
            <md-option ng-value="group.title" ng-repeat="group in ctrl.foodGroups | orderBy:'title'">
              {{::group.title}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="30">
          <label>Name</label>
          <input ng-model="ctrl.ingredient.name" required>
        </md-input-container>
        <md-input-container flex="50">
          <label>Short Description (brand, packaging etc.)</label>
          <input ng-model="ctrl.ingredient.description">
        </md-input-container>
      </div>
    </md-content>

    <h4 class="md-ingredient-edit-nutrients-header">Nutrients in:</h4>
    <mp-ingredient-edit-measure ingredient="ctrl.ingredient"></mp-ingredient-edit-measure>
    <mp-ingredient-add-measure ingredient="ctrl.ingredient"></mp-ingredient-add-measure>

    <md-content class="md-padding">
      <div layout="row" layout-align="end center">
        <md-checkbox
          ng-model="ctrl.ingredient.generic"
          aria-label="Generic Ingredient">
          Generic ingredient?
        </md-checkbox>
      </div>
      <div layout="row" layout-align="space-between">
        <md-button type="button" class="md-button-wide" ng-disabled="ctrl.isLoading" ui-sref="ingredientsList">
          go back
        </md-button>
        <md-button class="md-raised md-primary md-button-wide" ng-disabled="ctrl.isLoading">
          save
        </md-button>
      </div>
    </md-content>
  </div>
</form>
