<div ng-controller="IngredientsListController as ctrl">
  <mp-navbar mp-title="Ingredients"
             mp-search="ctrl.searchIngredients()"
             mp-search-query="ctrl.searchText"
             mp-search-delay="500"
             mp-is-loading="ctrl.isLoading">
  </mp-navbar>

  <md-button class="md-fab md-button md-accent md-default-theme mp-fab-bottom-right"
             aria-label="Create new"
             ui-sref="createIngredient">
    <md-icon>create</md-icon>
    <md-tooltip>Create new</md-tooltip>
  </md-button>

  <md-content class="mp-content md-whiteframe-z1">
    <div class="mp-centered" ng-show="ctrl.isError">
      Could not load ingredients list. Please, check network connection.
    </div>

    <md-list ng-hide="ctrl.isLoading" class="ingredients">
      <mp-ingredient-item ingredient="ingredient"
                          last="$last"
                          ng-repeat="ingredient in ctrl.items track by ingredient.id">
      </mp-ingredient-item>
    </md-list>
  </md-content>
</div>
