<div ng-controller="IngredientsListController as ingredients">
  <section layout="row" layout-align="space-between">
    <span>
      <h2>Ingredients</h2>
      Here you can browse existing ingredients and create new ones.<br/>
      Ingredients will be used as building blocks for recipes.
    </span>
    <md-button class="md-fab md-button md-accent md-default-theme md-fab-top-right"
               aria-label="Create new"
               ng-click="go('createIngredient', 'slide-down')">
      <md-tooltip>Create</md-tooltip>
      <md-icon md-svg-src="bower_components/material-design-icons/content/svg/design/ic_create_24px.svg"
               class="fab-icon">
    </md-button>
  </section>

  <md-content layout="row" layout-sm="row">
    <md-input-container flex>
      <label>Search</label>
      <input ng-model="user.title">
    </md-input-container>
  </md-content>
  <md-content ng-show="ingredients.isLoading"
              layout="row"
              layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </md-content>
  <md-content ng-show="ingredients.isError">
    Could not load ingredients list. Please, check network connection.
  </md-content>
  <md-content ng-hide="ingredients.isLoading">
    <md-list>
      <md-item ng-repeat="ingredient in ingredients.items">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="images/ingredient-icon.png" class="face">
          </div>
          <div class="md-tile-content" layout="row" layout-align="space-between">
            <div>
              <h3>{{ingredient.name}}</h3>

              <p>
                Fat: {{ingredient.fat}}g
                Protein: {{ingredient.protein}}g
                Carbohydrate: {{ingredient.carbohydrate}}g
              </p>
            </div>
            <div>
              <md-button ng-click="ingredients.deleteIngredient(ingredient, $event)"
                aria-label="Delete Ingredient">
                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/design/ic_delete_24px.svg">
              </md-button>
            </div>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>
