<div>
  <md-toolbar class="md-hue-2 md-whiteframe-z2 mp-fixed-top">
    <div class="md-toolbar-tools">
      <md-button ui-sref="ingredientsList"
                 class="md-icon-button" aria-label="Close">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <h2>
        <span>{{::ctrl.ingredient.name}}</span>
      </h2>
    </div>
  </md-toolbar>

  <div class="mp-content md-whiteframe-z1">
    <md-content class="md-padding">
      <mp-measure-selector ingredient="ctrl.ingredient"></mp-measure-selector>

      <mp-nutrition-label nutrients="ctrl.ingredient.nutrients"></mp-nutrition-label>

      <div layout="row" layout-align="space-between">
        <md-button class="md-button-wide" ui-sref="editIngredient({ingredientId:ctrl.ingredient.id})">
          edit
        </md-button>
        <md-button ng-if="::ctrl.ingredient.ndbno" class="md-button-wide"
                   href="http://ndb.nal.usda.gov/ndb/search/list?qlookup={{::ctrl.ingredient.ndbno}}" target="_blank">
          Source: USDA
        </md-button>
      </div>
    </md-content>
  </div>
</div>
