<md-content class="md-padding">
  <div layout="row" layout-align="space-between">
    <div flex>
      <p class="md-body-1 mp-no-margins" ng-if="day.meals.length == 0">
        You have not selected any meals for {{::day.name}} yet.<br/>
        Click "Add Meal" button bellow to find the recipes you would like to have in your plan.
      </p>

      <div ng-repeat="mealType in mealTypes"
           ng-if="(day.meals | filter: {type: mealType}).length > 0">
        <h4>{{::mealType}}</h4>
        <mp-plan-day-meal meal="meal" day="day" ng-repeat="meal in day.meals | filter: {type: mealType}"/>
      </div>
    </div>

    <div layout="column" layout-align="start center" ng-if="day.meals.length > 0">
      <mp-energy-chart ng-hide="isFullNutrientInfoShown" nutrients="day.nutrients"></mp-energy-chart>
      <mp-nutrition-label ng-show="isFullNutrientInfoShown" nutrients="day.nutrients"></mp-nutrition-label>
      <md-button type="button" ng-click="isFullNutrientInfoShown = !isFullNutrientInfoShown">
        <span ng-hide="isFullNutrientInfoShown">show nutrition</span>
        <span ng-show="isFullNutrientInfoShown">show energy chart</span>
      </md-button>
    </div>
  </div>
  <div class="mp-centered" layout="row" layout-align="center">
    <md-button type="button" ng-click="showMealSelector($event)"
               class="md-raised"
               aria-label="Add Meal">
      Add Meal
    </md-button>
  </div>
</md-content>
