<md-content>
  <div layout="column">
    <md-content>
      <md-list>
        <div ng-repeat="mealType in mealTypes">
          <md-subheader>
            <div layout="row" layout-align="space-between">
              <h3>{{::mealType}}</h3>
              <md-button class="md-icon-button"
                         aria-label="Add {{::mealType}}"
                         ng-click="showMealSelector($event, mealType)">
                <md-icon>&#xE147;</md-icon>
                <md-tooltip>Add <span class="mp-lowercase">{{::mealType}}</span></md-tooltip>
              </md-button>
            </div>
          </md-subheader>
          <md-divider ng-if="!$last || day.meals.length > 0"></md-divider>
          <md-list-item class="md-3-line"
                        ng-repeat="meal in day.meals | filter: {type: mealType}"
                        ng-click="viewMeal(meal)"
                        md-no-ink>
            <img ng-src="{{meal.imageUrl}}" class="mp-image-icon square">

            <div class="md-list-item-text" layout="row" layout-align="space-between center">
              <div>
                <h3>{{meal.name}}</h3>
                <p>
                  {{meal.nutrients.find('energy').value | number:0}} kcal
                </p>
              </div>

              <md-button type="button" ng-click="removeMeal(meal)"
                         class="md-icon-button"
                         aria-label="Remove Ingredient">
                <md-icon>&#xE15C;</md-icon>
                <md-tooltip>Remove meal</md-tooltip>
              </md-button>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </div>
        <div ng-if="day.meals.length > 0">
          <md-subheader>
            <h3>Summary</h3>
          </md-subheader>
          <md-divider></md-divider>
          <md-content class="md-padding"
                      layout="row"
                      layout-align="space-between start"
                      layout-sm="column"
                      layout-align-sm="center center">
            <mp-nutrition-label nutrients="day.nutrients"></mp-nutrition-label>
            <mp-energy-chart nutrients="day.nutrients"></mp-energy-chart>
          </md-content>
        </div>
      </md-list>
    </md-content>
  </div>
</md-content>
