<md-dialog class="mp-popup meal-selector" aria-label="Meal Selector">
  <form>
    <md-toolbar class="md-whiteframe-z2 md-hue-1">
      <div class="md-toolbar-tools">
        <md-button ng-click="ctrl.showGroups()"
                   ng-if="ctrl.searchVisible || ctrl.selectedGroup"
                   aria-label="Back to groups"
                   class="md-icon-button">
          <md-icon>&#xE5C4;</md-icon>
        </md-button>
        <h2 ng-hide="ctrl.searchVisible || ctrl.selectedGroup">Meal Selector</h2>
        <h2 ng-show="!ctrl.searchVisible && ctrl.selectedGroup">{{ctrl.selectedGroup}}</h2>
        <span ng-if="!ctrl.searchVisible" flex></span>
        <input id="meal-search-field" aria-label="Search query" flex
               placeholder="Search"
               ng-show="ctrl.searchVisible"
               ng-model="ctrl.searchText"
               ng-change="ctrl.searchRecipes()"
               ng-model-options="{debounce: 500}"
               class="search-input"/>
        <md-button ng-click="ctrl.showSearch()"
                   ng-if="!ctrl.searchVisible"
                   aria-label="Search"
                   class="md-icon-button">
          <md-icon>&#xE8B6;</md-icon>
          <md-tooltip>Search meals</md-tooltip>
        </md-button>
        <md-button class="md-icon-button"
                   ng-click="ctrl.cancelDialog()"
                   ng-if="!ctrl.searchVisible">
          <md-icon aria-label="Close dialog">&#xE5CD;</md-icon>
        </md-button>
      </div>
      <md-progress-linear ng-show="ctrl.isLoading" md-mode="indeterminate"></md-progress-linear>
    </md-toolbar>

    <md-dialog-content class="mp-meal-selector-content">
      <!-- Groups view -->
      <div ng-if="ctrl.groupsVisible">
        <md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height md-stretch-tabs="always">
          <md-tab ng-repeat="group in ctrl.recipeGroups" label="{{::group.title}}">
            <md-content>
              <md-grid-list class="mp-tiles"
                            md-cols-gt-sm="6" md-cols="1"
                            md-row-height="1:1"
                            md-gutter="8px" md-gutter-sm="10px">
                <md-grid-tile ng-repeat="tile in group.tiles"
                              md-rowspan-gt-sm="{{::tile.span.row}}"
                              md-colspan-gt-sm="{{::tile.span.col}}"
                              md-rowspan-sm="1"
                              md-colspan-sm="1"
                              md-ink-ripple
                              ng-click="ctrl.showGroup(group.paramKey, tile.title)">
                  <picture>
                    <source ng-srcset="{{::tile.background_gt}}" media="(min-width: 768px)" ng-if="tile.background_gt"/>
                    <img ng-srcset="{{::tile.background}}" alt="{{::tile.title}}"/>
                  </picture>
                  <md-grid-tile-footer><h3>{{::tile.title}}</h3></md-grid-tile-footer>
                </md-grid-tile>
              </md-grid-list>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
      <!-- Recipe list view -->
      <div ng-if="!ctrl.groupsVisible">
        <div ng-if="ctrl.recipes.length == 0" class="md-padding">
          No meals found.
        </div>
        <md-list>
          <md-list-item class="md-3-line"
                        ng-repeat="recipe in ctrl.recipes track by recipe.id"
                        ng-click="ctrl.addRecipe(recipe)">
            <img ng-src="{{::recipe.imageUrl}}" class="mp-image-icon square">
            <mp-recipe-info recipe="recipe"></mp-recipe-info>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
