<div ng-controller="PlannerController as ctrl">
  <mp-navbar mp-title="Make Plan"></mp-navbar>

  <div class="mp-content md-whiteframe-z1">
    <md-content class="md-padding">
      <p>
        Plan your meals! Choose the dishes you want to eat for each day and see how well it fits your nutrition
        requirements.
      </p>
    </md-content>
  </div>

  <mp-plan-day ng-repeat="day in ctrl.plan track by day.id" day="day"></mp-plan-day>

  <div layout="row" layout-align="center">
    <md-button type="button" class="md-raised md-primary md-hue-3"
               ng-click="ctrl.planNextDay()"
               ng-show="ctrl.schedule.length > 0">
      Plan next day
    </md-button>
  </div>

</div>
