<div layout="row" layout-align="center center" class="mp-footer">
  <md-button class="md-icon-button" aria-label="GitHub" target="_blank" href="mailto:info@meal-planner.org">
    <md-icon>&#xE158;</md-icon>
    <md-tooltip>Contact</md-tooltip>
  </md-button>
  <md-button class="md-icon-button" aria-label="GitHub" target="_blank" href="https://github.com/meal-planner">
    <md-icon md-svg-icon="images/icons/github.svg"></md-icon>
    <md-tooltip>GitHub</md-tooltip>
  </md-button>
  <md-button class="md-icon-button" aria-label="Trello" target="_blank" href="https://trello.com/b/HQiq4mlO/meal-planner-org">
    <md-icon md-svg-icon="images/icons/trello.svg"></md-icon>
    <md-tooltip>Trello</md-tooltip>
  </md-button>
  <md-button class="md-icon-button" aria-label="Facebook" target="_blank" href="https://www.facebook.com/mealplannerorg">
    <md-icon md-svg-icon="images/icons/facebook.svg"></md-icon>
    <md-tooltip>Facebook</md-tooltip>
  </md-button>
  <md-button class="md-icon-button" aria-label="Twitter" target="_blank" href="https://twitter.com/mealplannerorg">
    <md-icon md-svg-icon="images/icons/twitter.svg"></md-icon>
    <md-tooltip>Twitter</md-tooltip>
  </md-button>
</div>
