<div>
  <md-toolbar class="md-hue-2 md-whiteframe-z2 mp-fixed-top">
    <div class="md-toolbar-tools">
      <md-button aria-label="Open menu"
                 ng-click="openMenu()"
                 ng-show="isMenuButtonVisible"
                 class="md-icon-button">
        <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_menu_24px.svg"></md-icon>
      </md-button>
      <md-button aria-label="Hide search"
                 ng-click="closeSearch()"
                 ng-show="isSearchInputVisible"
                 class="md-icon-button">
        <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_arrow_back_24px.svg">
        </md-icon>
      </md-button>
      <input aria-label="Search query" flex
             placeholder="Search"
             ng-show="isSearchInputVisible"
             ng-model="mpSearchQuery"
             class="search-input"/>
      <span ng-hide="isSearchInputVisible" flex>{{mpTitle}}</span>
      <md-button aria-label="Search"
                 ng-click="openSearch()"
                 ng-show="isSearchButtonVisible"
                 class="md-icon-button">
        <md-icon md-svg-icon="bower_components/material-design-icons/action/svg/design/ic_search_24px.svg"></md-icon>
      </md-button>
    </div>
    <md-progress-linear ng-show="mpIsLoading" md-mode="indeterminate"></md-progress-linear>
  </md-toolbar>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2 mp-fixed-top" md-component-id="menu">
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <md-button aria-label="Close menu"
                   ng-click="closeMenu()"
                   class="md-icon-button">
          <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_arrow_back_24px.svg">
          </md-icon>
        </md-button>
        <h2>
          <a href="#" ui-sref="planner">
            <img ng-src="images/logo.png"/>
          </a>
        </h2>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <md-list>
        <md-list-item ng-repeat="link in links" ng-click="open(link.state)">
          <md-icon md-svg-icon="bower_components/material-design-icons/navigation/svg/design/ic_chevron_right_24px.svg">
          </md-icon>
          <p>{{link.label}}</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
</div>
