<div>
  <form method="post" ng-submit="ctrl.requestPasswordReset()">
    <h2 class="md-headline">Forgot your password?</h2>

    <p>
      Not a problem!<br/>
      Type in your email and we will reset it.
    </p>
    <md-input-container>
      <md-icon md-svg-icon="images/icons/email.svg"></md-icon>
      <input ng-model="ctrl.email" type="email" placeholder="Email" ng-required="true">
    </md-input-container>
    <div layout="column" layout-align="center center">
      <md-button class="md-raised md-primary md-hue-2 mp-login-button">Reset Password</md-button>
      <p class="mp-login-sub-text">
        Think you remember it? <a ui-sref="login">Back to log in</a>
      </p>
    </div>
  </form>
</div>
