<div class="md-padding md-whiteframe-z1 mp-content">

  <div layout="row" layout-sm="column">
    <div flex="60" hide-sm>
      <h1 class="md-headline">Why do I need an account?</h1>

      <ul class="mp-account-benefits">
        <li>You can create your own ingredients and recipes</li>
        <li>You can save and manage multiple meal plans</li>
        <li>You can set your personal daily nutrition goals</li>
        <li>It's free and no annoying emails!</li>
      </ul>
    </div>
    <div flex="5"></div>
    <div ui-view flex layout="column" class="mp-login-box">
      <form method="post" ng-submit="ctrl.login()" name="loginForm">
        <div layout="column">
          <h2 class="md-headline">Log In</h2>
          <md-input-container>
            <md-icon md-svg-icon="images/icons/email.svg"></md-icon>
            <input ng-model="ctrl.email" type="email" placeholder="Email" ng-required="true">
          </md-input-container>
          <md-input-container>
            <md-icon>&#xE899;</md-icon>
            <input ng-model="ctrl.password" type="password" placeholder="Password" ng-required="true">
          </md-input-container>
          <div layout="column" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary md-hue-2 mp-login-button"
                       ng-disabled="ctrl.loginButtonLocked">Log in
            </md-button>
            <p>
              <a ui-sref="forgot-password">Forgot your password?</a>
            </p>

            <p class="mp-login-sign-up">
              Don't have an account yet? <a ui-sref="signup">Sign up</a>
            </p>
          </div>
        </div><!-- column -->
      </form>
      <div class="mp-login-separator">
        <h5>or</h5>
        <hr>
      </div>
      <div class="mp-social-login" layout="row" layout-align="space-between center">
        <a aria-label="Sign in with Twitter" ng-click="ctrl.authenticate('twitter')">
          <img src="images/twitter.png" alt="Sign in with Twitter"/>
          <md-tooltip>Sing in with Twitter</md-tooltip>
        </a>
        <a aria-label="Sign in with Facebook" ng-click="ctrl.authenticate('facebook')">
          <img src="images/fb.png" alt="Sign in with Facebook"/>
          <md-tooltip>Sign in with Facebook</md-tooltip>
        </a>
        <a aria-label="Sign in with Google" ng-click="ctrl.authenticate('google')">
          <img src="images/google.png" alt="Sign in with Google"/>
          <md-tooltip>Sign in with Google</md-tooltip>
        </a>
      </div>
      <p class="mp-login-sub-text" style="text-align: center">
        By singing in with social provider above, you agree to our
        <mp-popup-link link-url="terms-of-use.html" link-title="Terms of Use"></mp-popup-link>
        and
        <mp-popup-link link-url="privacy-policy.html" link-title="Privacy Policy"></mp-popup-link>
      </p>
    </div>
  </div>
</div>
