<div class="md-padding mp-content md-whiteframe-z1">

  <div layout="column">
    <div class="mp-social-login" layout="row" layout-align="space-between center">
      <a aria-label="Sign in with Twitter" ng-click="ctrl.authenticate('twitter')">
        <img src="images/twitter.png" alt="Sign in with Twitter" />
        <md-tooltip>Twitter</md-tooltip>
      </a>
      <a aria-label="Sign in with Facebook" ng-click="ctrl.authenticate('facebook')">
        <img src="images/fb.png" alt="Sign in with Facebook" />
        <md-tooltip>Facebook</md-tooltip>
      </a>
      <a aria-label="Sign in with Google" ng-click="ctrl.authenticate('google')">
        <img src="images/google.png" alt="Sign in with Google" />
        <md-tooltip>Google</md-tooltip>
      </a>
    </div>
  </div>
</div>
