<form method="post" ng-submit="ctrl.requestPasswordReset()">
  <div class="md-padding md-whiteframe-z1 mp-content">
    <div layout="column" flex-lg="35">

      <h1 class="md-headline">Reset Password</h1>

      <p>
        Type in your new password.
      </p>

      <md-input-container>
        <md-icon>&#xE899;</md-icon>
        <input ng-model="ctrl.password" type="{{ctrl.showPassword ? 'text' : 'password'}}" placeholder="New Password"
               ng-required="true">
      </md-input-container>
      <md-checkbox ng-model="ctrl.showPassword" aria-label="Show Password">
        Show password
      </md-checkbox>
      <md-button type="submit"
                 class="md-raised md-primary md-hue-2 mp-login-button"
                 ng-disabled="ctrl.submitButtonDisabled">
        Save and log in
      </md-button>
    </div>
  </div>
</form>
