<div class="mp-login-page mp-content md-whiteframe-z1">

  <div layout="row">
    <div>
      <h1 class="md-headline">Reset Password</h1>

      <p>
        Type in your new password.
      </p>

      <form method="post" ng-submit="ctrl.requestPasswordReset()">
        <md-input-container>
          <md-icon>&#xE899;</md-icon>
          <input ng-model="ctrl.password" type="{{ctrl.showPassword ? 'text' : 'password'}}" placeholder="New Password"
                 ng-required="true">
        </md-input-container>
        <md-checkbox ng-model="ctrl.showPassword" aria-label="Show Password">
          Show password
        </md-checkbox>
        <md-button class="md-raised md-primary md-hue-2 mp-login-button"
                   ng-disabled="ctrl.submitButtonDisabled">
          Save and log in
        </md-button>
      </form>
    </div>

  </div>
</div>
